@media (min-width: 500px) {
    .avatar__media .media__fluid {
        margin-top: 3px !important;
    }
}
@media (min-width: 500px) {
    .button,
    .button__shadow {
        font-size: 16px !important;
        display: inline-block !important;
        width: auto !important;
    }
}
@media (min-width: 500px) {
    footer li {
        display: inline-block !important;
        margin-right: 20px !important;
    }
}
@media (min-width: 500px) {
    .mt1--lg {
        margin-top: 10px !important;
    }
}
@media (min-width: 500px) {
    .mt2--lg {
        margin-top: 20px !important;
    }
}
@media (min-width: 500px) {
    .mt3--lg {
        margin-top: 30px !important;
    }
}
@media (min-width: 500px) {
    .mt4--lg {
        margin-top: 40px !important;
    }
}
@media (min-width: 500px) {
    .mb1--lg {
        margin-bottom: 10px !important;
    }
}
@media (min-width: 500px) {
    .mb2--lg {
        margin-bottom: 20px !important;
    }
}
@media (min-width: 500px) {
    .mb3--lg {
        margin-bottom: 30px !important;
    }
}
@media (min-width: 500px) {
    .mb4--lg {
        margin-bottom: 40px !important;
    }
}
@media (min-width: 500px) {
    .pt1--lg {
        padding-top: 10px !important;
    }
}
@media (min-width: 500px) {
    .pt2--lg {
        padding-top: 20px !important;
    }
}
@media (min-width: 500px) {
    .pt3--lg {
        padding-top: 30px !important;
    }
}
@media (min-width: 500px) {
    .pt4--lg {
        padding-top: 40px !important;
    }
}
@media (min-width: 500px) {
    .pb1--lg {
        padding-bottom: 10px !important;
    }
}
@media (min-width: 500px) {
    .pb2--lg {
        padding-bottom: 20px !important;
    }
}
@media (min-width: 500px) {
    .pb3--lg {
        padding-bottom: 30px !important;
    }
}
@media (min-width: 500px) {
    .pb4--lg {
        padding-bottom: 40px !important;
    }
}
@media (min-width: 500px) {
    pre {
        font-size: 14px !important;
    }
    .body {
        font-size: 14px !important;
        line-height: 24px !important;
    }
    h1 {
        font-size: 22px !important;
    }
    h2 {
        font-size: 16px !important;
    }
    small {
        font-size: 12px !important;
    }
}
@media (min-width: 500px) {
    .user-content pre,
    .user-content code {
        font-size: 14px !important;
        line-height: 24px !important;
    }
    .user-content ul,
    .user-content ol,
    .user-content pre {
        margin-top: 12px !important;
        margin-bottom: 12px !important;
    }
    .user-content hr {
        margin: 12px 0 !important;
    }
    .user-content h1 {
        font-size: 22px !important;
    }
    .user-content h2 {
        font-size: 16px !important;
    }
    .user-content h3 {
        font-size: 14px !important;
    }
}

.email-conf .panel-default{
    background: #F7F7F7;
}
.email-conf center p{
    padding-top: 15px;
}
.email-conf p a{
    text-decoration: none;
}