/*!
 * Start Bootstrap - Full Slider (https://startbootstrap.com/template-overviews/full-slider)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-full-slider/blob/master/LICENSE)
 */

.carousel-caption{
left:15%!important;
right:15%!important;
top:30%;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption h3{
color:#FFFFFF;
font-size:36px;
text-shadow: 0px 0px 3px #000000;
margin-bottom:20px;
}
.carousel-caption h4{
color:#FFFFFF;
font-size:24px;
text-shadow: 0px 0px 3px #000000;
margin-bottom:50px;
}
