.MultiFile-title{
    display:none !important;
}
.MultiFile-preview{
    width: 65px !important;
    height:35px !important;
    margin-top:5px !important;
      margin-bottom:5px !important;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i');

body{
    font-family: 'Roboto', sans-serif;
}

.navbar-brand{
    font-size: 30px;
    font-weight: 900;
    color: #4bd6eb!important;
}
.navbar-brand span{
    font-size: 20px;
    font-weight: 400;
    color: #fff!important;
}
.nav-btn{
    color: #fff!important;
    text-align: center;
    background: rgba(75,214,235,0.6);
    border: 2px solid #4bd6eb;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    width: 100px;
}
.nav-btn:hover{
    background: rgba(75,214,235,1);
}
.nav-item{
    padding-left: 10px;

}
.nav-link {
    padding: .3rem 1rem;
}
.bn-search-dropdown{
    background-color: #ffffff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    width: 100%;
    border: 1px solid #ccc;
}
.dropdown-toggle{
    text-align: left;

}
.carousel-caption .dropdown-toggle::after{
    position: absolute;
    right: 20px;
    top: 15px;
}

.bn-search-holder{
    position: relative;
}
.bn-search-date{
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #ffffff;
    width: 100%;
}
.bn-search-icon{
    position: absolute;
    color: #666;
    font-size: 16px;
    top: 10px;
    right: 30px;
}
.bn-search-btn{
    text-align: left;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border-color: #4bd6eb;
    background-color: #4bd6eb;
    color: #fff;
    width: 100%;
}
.bn-search-btn i{
    position: absolute;
    right: 30px;
    top: 10px; 
}
.bn-search-btn:hover{
    background-color: #3dafc0;
    border-color: #3dafc0;
}
.search-sub-cat{
	/*background-color:rgba(255, 255, 255, 0.9);*/
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcfcfc+0,ffffff+100 */
background: #fcfcfc; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfcfc 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fcfcfc 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fcfcfc 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width:100%;
	margin-top:10px;
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 15px;
	padding-left: 10px;
    color:#000;
    text-align: left;
	border:2px solid #fff;
}

.title-holder h2{
font-size:24px;
color:#3dafc0;
margin-bottom:30px;
}
.home-footer{
  font-size: 14px;
  font-weight: normal;
  background: rgba(7,20,41,0.6);
  z-index: 999999999;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid #071429;
  font-weight: normal!important;
}
.footer{
    font-size: 14px;
  font-weight: normal;
  background:#3dafc0;
  z-index: 999999999;
  width: 100%;
  border-top: 1px solid #3dafc0;
  font-weight: normal!important;
}
/*******************  Details Page  **********************/
.facility-detail-page-info h2{
font-size: 22px;
color: #4bd6eb;
}
.facility-detail-page-info p{
    font-size: 14px;
}
.gbg-col-1{
min-height: 220px;
}
.gbg-col-2{
    min-height: 100px;
    margin-bottom: 20px;
    }
.gbg-col-3{
min-height: 100px;
}
.main-container{
margin-top: 110px;
margin-bottom: 40px;
}
.gb-gallery{
    margin-top:30px;   
}
  .gb-srv{
      width: 100%;
      float: left;
      margin: 20px;
margin-top:30px;
padding: 20px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #ccc;
  }
  .gb-map{
    width: 100%;
    float: left;
    margin: 20px;
    margin-top:30px;
    padding: 20px;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #ccc;
  }
  .gb-list{
    width: 100%;
    float: left;
    margin: 20px;
    margin-top:30px;
    padding: 20px;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #ccc;
  }
  .gb-srv-item i{
color: #4bd6eb;
font-size: 18px;
  }
  .gbc-header{
      background-color: #fff;
  }
  .gbc-item{
    margin-bottom:20px;
  }
  .gbc-item-label{
      margin-bottom:10px;
  }
  .gbc-btn{
width:100%;
background-color: #3dafc0;
color: #fff;
text-align: center;
font-size: 22px;
padding: 5px 0;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
  }
.gbc-btn:hover{
    background-color: #4bd6eb;
}
.gbc-rates{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
      width: 100%;
      padding: 15px;
      background-color: #f1f1f1;
      color: #000;
  }
  .gbc-rates h2{
    font-size: 48px;
    padding: 0px;
    margin: 0px;
    font-weight: 800;
}
  .gbc-rates h5{
      font-size: 18px;
      padding: 0px;
      margin: 0px;
      color: #333;
     
  }

  /*************** Modal Popup *******************/
.cn-content{
    widows: 100%;;
    padding: 10px;
    border: #e9ecef solid 1px;
    -webkit-box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.26); 
    box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.26);
}
  .cn-name{
color:#3dafc0;
font-size: 16px;
line-height: 16px;
font-weight: 600;
margin-top:10px;
margin-bottom: 0px; 
padding: 0px;
  }
  .cn-desc{
    color: #333;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    margin-top:10px;
    margin-bottom: 0px; 
    padding: 0px;
  }
  .cn-location{
    color: #999;
    font-size: 14px;
    font-weight: 400;
    margin-top:10px;
    margin-bottom: 10px; 
    padding: 0px;
    padding-bottom: 10px;
    border-bottom: #e9ecef solid 1px;
  }
  .cn-btn{
    text-align: center;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-color: #4bd6eb;
    background-color: #4bd6eb;
    color: #fff;
    font-size: 14px;
    padding: 3px 15px;

  }
  .cn-btn:hover{
    background-color: #3dafc0;
    border-color: #3dafc0;
}
  .cn-rating{
      width: 50%;
  }
  /**************************** text-editer **************************/
  .gj-editor-bootstrap{
  padding:0px;
  }
  
  .gj-editor-bootstrap, .gj-editor-bootstrap [role=body]{
  border:none;
  }
  
  .g-plus-icon{
  color:#4bd6eb;
  font-size:42px;
  }
  
  .submit-btn-con{
  margin-top:30px;
  }
  
  .gb-location{

  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
  border:1px solid #ccc;
  }
  
 .admin-page-title{
 margin-bottom:20px;
 } 
  
  .gfy-small-img{
  margin:0px;
  padding:10px;
  }
  
  
  /*************************** Register ************************/
  
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-gfy {
    background-color: #4bd6eb;
    color: #fff;
}

/****************************** calendar *****************************/
.calendar{
border:#3dafc0 1px solid;
padding:15px;
}
.calendar, .calendar_weekdays, .calendar_content {
    max-width: 300px;
	
}
.calendar {
    margin: auto;
    font-family:'Muli', sans-serif;
    font-weight: 400;
}
.calendar_content, .calendar_weekdays, .calendar_header {
    position: relative;
    overflow: hidden;
}
.calendar_weekdays div {
    display:inline-block;
    vertical-align:top;
}
.calendar_weekdays div, .calendar_content div {
    width: 14.28571%;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
    color: #6f6f6f;
    font-size: 14px;
}
.calendar_content div {
    border: 1px solid transparent;
    float: left;
}
.calendar_content div:hover {
    border: 1px solid #dcdcdc;
    cursor: default;
}
.calendar_content div.blank:hover {
    cursor: default;
    border: 1px solid transparent;
}
.calendar_content div.past-date {
    color: #d5d5d5;
}
.calendar_content div.today {
    font-weight: bold;
    font-size: 14px;
    color: #3dafc0!important;
    border: 1px solid #3dafc0;
}
.calendar_content div.selected {
    background-color: #f0f0f0;
}
.calendar_header {
    width: 100%;
    text-align: center;
}
.calendar_header h2 {
    padding: 0 10px;
    font-family:'Muli', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #3dafc0;
    float:left;
    width:70%;
    margin: 0 0 10px;
}
button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    color: #dcdcdc;
    float: left;
    width:15%;
    transition: color .2s;
}
button.switch-month:hover {
    color: #87b633;
}  

 /***************************** booking page *************************/
 .bkg-right{
 padding-top:40px;
 }
 .nav-tabs a{
 color:#3dafc0;
 }
 .page-item.active .page-link{
 background-color:#3dafc0;
 border:1px solid #3dafc0;
 }
 .tab-content a{
 color:#3dafc0;
 }
 .action-btn{
 font-size:24px;
 padding-right:20px;
 } 
 /******************************Listing Page*************************/
 .add-btn{
 background-color:#fff;
 border:1px solid #ccc;
 min-width:155px;
 text-align:center;
 padding-top:5px;
 padding-bottom:5px;
 }
 .add-btn:hover{
 color:#3dafc0;
 border:1px solid #3dafc0;
 }
 .text-warning-red{
 color:#FF0000;
 }
 /*****************************dashboard*****************************/
 .navbar-dashboard .nav-link{
 font-weight:normal!important;
 color:#f1f1f1!important;
 }
 .navbar-dashboard .nav-link:hover{
 color:#3dafc0!important;
 }
 .pro-icon{
 width:30px;
 height:30px;
 -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
 }
 .pro-image{
 -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
margin-bottom:20px;
 }
 
 .pro-right{
 background-color:#f1f1f1;
 padding:20px;
 }
 /*****************************About********************************/
 .page-title{
 font-size:32px;
 font-weight:700;
 color:#333333;
 }
 .page-sub-title{
 font-size:18px;
 color:#4bd6eb;
 margin-bottom:30px;
 }
 .align-left{
 float:left;
 margin-right:20px;
 /* margin-top:10px; */
 }
 .img-about{
 max-width:350px;
 }
 /***************************** contact us *************************/
 .g-map{
 border:#f1f1f1 4px solid;
 }
 .contact-icon i{
 color:#4bd6eb;
 }
 /***************************** mediaquery *************************/
 
 @media screen and (max-width: 800px) {
.navbar{
background-color:#333333;
}
 .nav-right{
 width:100%;
 }
 .navbar-brand{
 margin:auto;
 }
 .navbar-nav{
 margin-top:20px;
 flex-direction:none;
 text-align:center;
 width:250px;
 margin:auto;
 }
  .navbar-nav li{
   text-align:center;
   padding-top:10px;
   padding-bottom:10px;
   
  }
 .navbar-nav li{
text-align:center;
 }
 .search-box{
 margin-bottom:15px;
}
.carousel-item{
height:170vh;
}
.carousel-caption{
top:10%;
}
.nav-btn{
margin-left:auto;
margin-right:auto;
}


 }

 .list-sub-service{
    margin-top:8px;
    margin-bottom:8px;
    text-align:left;
    list-style: none;
    padding: 0;
    }
  .list-sub-service li {
    padding-left: 1.3em;
    font-weight:400;
    color:#3dafc0;
    font-size:14px;
  }
  .list-sub-service li:before {
    content: "\f0c1"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    color:#3dafc0;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }
  .time-slot{
    margin-top: 20px;
}
.time-text{
    padding: 10px;
}